.header-bar {
  padding: 10px;
  text-align: left;
}
.sub-container-box {
  padding: 0 10px;
  text-align: left;
  .tag-box{
    display: flex;
    flex-wrap: wrap;
    .el-button--small {
      margin-left: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
.flex {
  display: flex;
  height: 100%;
  flex-direction: column;
  .sub-container-box {
    flex: 1;
    
    overflow: auto;
    .quill-editor {
      display: flex;
      flex-direction: column;
    }
    .ql-container {
      flex: 1;
      height: auto;
      overflow-y: auto;
    }
  }
}
.sub-footer {
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: right;
}
.drag-button {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  padding: 9px 15px;
  font-size: 12px;
  margin: 5px 10px;
  outline: none;
  line-height: 1;
  color: #606266;
  cursor: pointer;
  &:hover {
    border-color: #c6e2ff;
    background-color: #ecf5ff;
    color: #409eff;
  }
  &:active {
    border-color: #409eff;
  }
  &.block {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
}